#pizza_img {
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img {
    width: 100%;
    height: auto;
}
h1 {
    color: red;
}
.title {
    font-family: "Comic Sans MS";
    font-size: 300%;
    text-align: center;
}


#quesadilla_img {
    width: 100%;
    height: auto;
}

.list {
    font-size: 20px;
}

.subheader {
    color: red;
    font-size: 20px;
}

.text {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quesadilla {
    background-color: darkolivegreen;
}

.pizza {
    background-color: yellow;
}

.grilledcheese {
    background-color: orange;
}

.links .center {
    display: inline;
}

#index {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}

.grilledcheese.img {
    width: 100%;
    height: auto;
}